<!DOCTYPE html>
<html>

<head>
  <title>MMDA</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='dagrdelete.css') }}">
</head>

<body>
  <div class="welcome">
    <h1>{{title}}</h1>
    <hr/>
  </div>
  <div class="sidebar">
    <div class="sidebar-inner">
      <a href="/" id="home-button">Home</a>
      <hr/>
      <a/>
      <div class="side-no-home">
        <a href="/makeDagr">Create DAGR</a>
        <a href="/upload">File Upload</a>
        <a href="/bulk">Bulk Upload</a>
        <a href="/dagrdelete" id="selected">DAGR Delete</a>
        <a href="/reports">Reports</a>
      </div>
    </div>
  </div>
  <div class="clear-floated"></div>
  <div class="table">
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Path</th>
        <th>Type</th>
        <th>Created</th>
        <th>Modified</th>
        <th>Annotations</th>
        <th>Author</th>
        <th>Delete?</th>
      </tr>
      {% for row in dagrs %}
      <tr>
        <td>{{ row.getName() }}</td>
        <td>{{ row.getPath() }}</td>
        <td>{{ row.getType() }}</td>
        <td>{{ row.getCreated() }}</td>
        <td>{{ row.getModified() }}</td>
        <td>{{ row.getAnnotations() }}</td>
        <td>{{ row.getAuthorName() }}</td>
        <td>
          <form method="POST">
            <input type="Submit" value="Delete" name={{row.getGUID()}} />
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>

</html>
