<!DOCTYPE html>
<html>

<head>
  <title>MMDA</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='metadata.css') }}">
</head>

<body>
  <div class="welcome">
    <h1>{{title}}</h1>
    <hr/>
  </div>
  <div class="sidebar">
    <div class="sidebar-inner">
      <a href="/" id="home-button">Home</a>
      <a href="/reports" id="reports-button">Reports</a>
      <hr/>
      <a/>
      <div class="side-no-home">
        <a href="/metadata" id="selected">Metadata Query</a>
        <a href="/orphanreport">Orphan Report</a>
        <a href="/sterilereport">Sterile Report</a>
        <a href="/reach">Reach Query</a>
        <a href="/timerange">Time-Range Query</a>
      </div>
    </div>
  </div>
  <div class="clear-floated"></div>
  <div class="intro">
    <h2>Query DAGR Information Based on Metadata</h2>
    <hr />
    <br />
    <br />
    <br />
    <br />
    <h3>Date Query</h3>
    <form method="POST">
      <input class="date-in" type="date" name="date" />
      <select name="types" class="type-selection">
        {% for x in type_list %}
        <option value="{{ x }}" {% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
        {% endfor %}
      </select>
      <input class="submit-date" type="submit" value="Submit" name="submit" />
    </form>
    <br />
    <h3>Author</h3>
    <form method="POST">
      <select name="authors" class="author-selection">
        {% for x in author_list %}
        <option value="{{ x }}" {% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
        {% endfor %}
      </select>
      <select name="types" class="type-selection">
        {% for x in type_list %}
        <option value="{{ x }}" {% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
        {% endfor %}
      </select>
      <input class="submit-author" type="submit" value="Submit" name="submit"/>
    </form>
    <br />
    <h3>File Type</h3>
    <form method="POST">
      <select name="types" class="type-selection">
        {% for x in type_list %}
        <option value="{{ x }}" {% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
        {% endfor %}
      </select>
      <input class="submit-type" type="submit" value="Submit" name="submit"/>
    </form>
    <br />
    <h3>Annotations</h3>
    <form method="POST">
      <input name="annotations" type="text" placeholder="Enter Keyword in Annotation" />
      <select name="types" class="type-selection">
        {% for x in type_list %}
        <option value="{{ x }}" {% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
        {% endfor %}
      </select>
      <input class="annotation-submit" type="submit" value="Submit" name="submit"/>
    </form>
    <br />
    <h3>Name</h3>
    <form method="POST">
      <input name="name" type="text" placeholder="Enter Name" />
      <select name="types" class="type-selection">
        {% for x in type_list %}
        <option value="{{ x }}" {% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
        {% endfor %}
      </select>
      <input class="annotation-submit" type="submit" value="Submit" name="submit"/>
    </form>
  </div>
</body>

</html>
